html {
	height: 100%;
}

body {
	background-color: whitesmoke;
	color: black;
	font-family: system-ui, sans-serif;
	height: 100%;
	line-height: 1.25;
	margin: 0;
}

main {
	align-items: center;
	box-sizing: border-box;
	display: grid;
	gap: 48px;
	grid-template-columns: 1fr 1fr;
	min-height: 100%;
	padding: 48px;
}

button {
	background-color: black;
	border: none;
	border-radius: 6px;
	color: white;
	font: inherit;
	font-weight: 500;
	min-height: 48px;
	padding: 0 24px;
	word-spacing: 0.5em;
}

img {
	box-shadow: silver -4px 4px 10px 4px;
	display: block;
	max-width: 100%;
}

h1,
h2,
h3,
h4 {
	margin-block: 0.25em;
}

h1 {
	color: black;
	font-size: 32px; /* 2em */
	font-weight: bold;
}

h2 {
	color: dimgray;
	font-size: 24px; /* 1.5em */
	font-weight: 500;
}

h3 {
	color: dimgray;
	font-size: 18px; /* 1.125em */
	font-weight: 500;
}

h4 {
	color: black;
	font-size: 16px; /* 1em */
	font-weight: 600;
}

.controls {
	margin-block: 32px;
}
